<div id="footer" class="container-fluid footer-links">
	<div class="row">
		<div class="col-md-2 hidden-sm hidden-xs footer-logo">
			<object type="image/svg+xml" data="{{ site.baseurl }}/assets/images/giovanissimi_logo_grey.svg"></object>
		</div><!--
		--><div class="col-md-4"></div><!--
		--><div class="col-md-2">
			<h4>Contatti:</h4>
			<ul>
				<li>Vincenzo Santoni</li>
				<li>+39 389 1607169</li>
				<li>vincsantoni@gmail.com</li>
			</ul>
		</div><!--
		--><div class="col-md-2">
			<h4>Seguici anche su:</h4>
			<ul>
				<!-- <li><a href="#">Facebook</a></li> -->
				<li><a href="https://www.instagram.com/meetingpse2017/" target="_blank">Instagram</a></li>
				<!-- <li><a href="#">Twitter</a></li> -->
			</ul>			
		</div><!--
		--><div class="col-md-2">
			<h4>Link utili:</h4>
			<ul>
				<li><a href="cartina">Cartina Ufficiale</a></li>
				<li><a href="hotels">Dove Dormire</a></li>
<!-- 				<li><a href="hotels.html">Hotels e B&B</a></li>
				<li><a href="contatti.html">Contatti</a></li>	 -->		
			</ul>
		</div>
	</div>

	<div class="row final-footer-text">
		<div class="col-md-12">
			© 20{{ site.time | date: '%y' }} Gio.Ca Communications srl - P.Iva 06239291005 - REA: RM - 961136 - Cap. Soc. : 10.320,00 | <a href="privacy">Privacy e Cookie Policy</a>
		</div>
	</div>
</div>

<script src="{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>