<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/normalize-css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bower_components/font-awesome/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.meetingpse2017.it/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.meetingpse2017.it/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.meetingpse2017.it/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.meetingpse2017.it/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.meetingpse2017.it/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.meetingpse2017.it/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.meetingpse2017.it/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.meetingpse2017.it/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="http://www.meetingpse2017.it/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="http://www.meetingpse2017.it/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="http://www.meetingpse2017.it/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="http://www.meetingpse2017.it/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="http://www.meetingpse2017.it/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="Meeting Nazionale Giovanissimi 2017 Porto Sant’Elpidio"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="http://www.meetingpse2017.it/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="http://www.meetingpse2017.it/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="http://www.meetingpse2017.it/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="http://www.meetingpse2017.it/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="http://www.meetingpse2017.it/mstile-310x310.png" />
	
	{% seo %}
</head>