<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html" class="main-site-logo">
                    <object type="image/svg+xml" data="{{ site.baseurl }}/assets/images/giovanissimi_logo_blue.svg"></object>
                </a></li>
                <li><a href="territorio.html">IL TERRITORIO</a></li>
                <li><a href="directions.html">COME ARRIVARE</a></li>
                <li><a href="hotels.html">DOVE DORMIRE</a></li>
                <li><a href="restaurants.html">DOVE MANGIARE</a></li>
            </ul>
        </div>
    </div>
</nav>