<nav id="header" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" class="main-site-logo navbar-brand">
                <img src="{{ site.baseurl }}/assets/images/logo_nuovo.png"/>
            </a>            
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle main-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PORTO SANT'ELPIDIO <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="main-link" href="/storia">LA STORIA</a></li>
                    <li><a class="main-link" href="/ciclismo">IL CICLISMO</a></li>
                    <li><a class="main-link" href="/foto">LE NOSTRE FOTO</a></li>
                  </ul>
                </li>   
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle main-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DOVE DORMIRE <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="main-link" href="/hotels">LISTA STRUTTURE</a></li>
                    <li><a class="main-link" href="/cartina_hotel">CARTINA STRUTTURE</a></li>
                  </ul>
                </li>
<!--                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle main-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LUOGHI DEL MEETING <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/cartina">CAMPI DI GIOCO</a></li>
                    <li><a href="/cartina">HOTEL E B&B</a></li>
                    <li><a href="/cartina">PARCHEGGI</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/cartina">PORTO SANT'ELPIDIO</a></li>
                  </ul>
                </li>      -->           
                <li><a class="main-link" href="/cartina">LUOGHI DEL MEETING</a></li>
                <!-- <li><a href="hotels.html">CONTATTI</a></li> -->
                <!-- <li><a href="restaurants.html">DOVE MANGIARE</a></li> -->
            </ul>
        </div>
    </div>
</nav>