<ul id="vertical-menu" class="nav nav-pills nav-stacked">
	<li class="main-link-header"><a href="/premio_franco_ballerini">PREMIO FRANCO BALLERINI</a></li>

	<li class="main-link-header"><a>PORTO SANT'ELPIDIO</a></li>
	<li class="main-link"><a href="/storia">LA STORIA</a></li>
	<li class="main-link"><a href="/ciclismo">IL CICLISMO</a></li>
	<li class="main-link"><a href="/foto">LE NOSTRE FOTO</a></li>	
	<li class="main-link-header second-level"><a>DOVE FARE TAPPA</a></li>
	<li class="main-link second-level"><a href="/hotels">DOVE DORMIRE</a></li>
	<li class="main-link second-level"><a href="/restaurants">DOVE MANGIARE</a></li>
	<li class="main-link second-level"><a href="/shopping">SHOPPING</a></li>                    
	<li class="main-link"><a href="/cartina">CARTINA</a></li>

	<li class="main-link-header"><a>IL MEETING</a></li>
    <li class="main-link"><a href="/regolamento">REGOLAMENTO</a></li>
    <li class="main-link"><a href="/programma">PROGRAMMA</a></li>
    <li class="main-link"><a href="/premi">ELENCO PREMI</a></li>
    <li class="main-link"><a href="/regolamento#cronometraggio">SERVIZIO CRONOMETRAGGIO</a></li>

    <li class="main-link-header"><a>CAMPI DI GIOCO</a></li>
    <li class="main-link"><a href="/campi_gara#ritrovo">RITROVO</a></li>
    <li class="main-link"><a href="/campi_gara#gincana">GINCANA</a></li>
    <li class="main-link"><a href="/campi_gara#mountainbike">MOUNTAIN BIKE</a></li>
    <li class="main-link"><a href="/campi_gara#sprint">SPRINT</a></li>
    <li class="main-link"><a href="/campi_gara#strada">STRADA</a></li>
    <li class="main-link"><a href="/campi_gara#parcheggi">PARCHEGGI</a></li>
    <li class="main-link"><a href="/campi_gara#area_gazebo">AREA GAZEBO</a></li>
    <li class="main-link"><a href="/campi_gara#premiazioni">PREMIAZIONI</a></li>    
</ul>