body {
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
}

a {
	font-family: 'Fjalla One', sans-serif;
}

p {
	font-family: 'Quattrocento', serif;
	font-size: 16px;
}

p a {
	font-family: 'Quattrocento', serif;	
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.top-bar {
	text-align: center;
	padding: 24px 0px;
	background: #fff;
}

.top-bar img {
	height: 48px;
}

nav.navbar {
	margin-bottom: 0px;
	background: #fff;
	border: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar ul.navbar-nav li .main-site-logo {
	padding: 12px 22px;
}

.navbar ul.navbar-nav li .main-site-logo object {
	height: 44px;
	pointer-events: none;
}

.navbar .navbar-collapse {
  text-align: center;
  border: none;
}

button.navbar-toggle {
	background: #1c8ce3;
	border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: #1c8ce3;
}

.navbar ul.navbar-nav li {
	
}

.navbar ul.navbar-nav li:first-child {
	
}

.navbar ul.navbar-nav li a {
	color: #1c8ce3;
	padding: 24px 22px;
	text-shadow: none;
}

.navbar ul.navbar-nav li:hover {
	
}

.navbar ul.navbar-nav li:hover a {
	text-decoration: underline;
	color: #1c8ce3;
}

.main-content {
	padding: 0px 24px;
	background: #fff;
}

@media (max-width: 992px) {
  .main-content {
  	padding: 0px;
  }
}

.main-content.map-content {
	padding: 0px;
}

.main-content .row {
	margin: 36px 0px;
}

.main-content img {
	width: 100%;
}

.page-title {
	
}

.row.centerpiece {
	margin-bottom: 36px;
}

.row.centerpiece h1 {
	margin-bottom: 36px;
}

.row.centerpiece img {
	width: 100%;
}

.row.centerpiece img.centerpiece {
	padding: 36px;
}

.main-content .gallery-row {
	margin: 0px;
}

.main-content .gallery-row .gallery-image {
	padding: 18px;
}

@media (max-width: 992px) {
	.main-content .gallery-row .gallery-image {
		padding: 6px 12px;
	}
}

.instagram-invite {
	text-align: center;
	/*overflow: hidden;*/
	/*border-top: 1px solid #9c9c9c;	*/
}

.instagram-invite h1 {
/*	margin: 36px 0px;*/
}

.instagram-invite img {
	position: relative;
	top: -50px;
	width: 30%;
}

.row.map {
	margin: 0px;
}

.map-column {
	height: 100vh;
	position: fixed;
	margin-top: -73px;
	padding: 0px;
}

@media (max-width: 992px) {
	.map-column {
		position: relative;
		margin-bottom: 12px;
	}
}

.features-list {
	min-height: 100vh;
	padding: 0px;
}

.features-list h3 {
	color: #1c8ce3;
	margin-top: 0px;
	margin-bottom: 24px;
	padding: 0px 24px 6px 24px;
	border-bottom: 1px solid #1c8ce3;
}

.features-list .row {
	margin: 0px;
}

.features-list .row.single-feature {
	cursor: pointer;
	margin-bottom: 12px;
	padding: 0px 24px;
}

.features-list .row.single-feature.highlighted h5 {
	color: #1c8ce3;
}

.features-list .row.single-feature.highlighted p {
	color: #1c8ce3;
}

.features-list .row.single-feature:last-child .text {
	border-bottom: none;
}

.features-list .row.single-feature h5 {
	margin-top: 0px;
}

.features-list .row.single-feature .text {
	padding: 0px;
	border-bottom: 1px solid #e0e0e0;
}

.features-list .row.single-feature .text div {
	padding: 0px;
}

.footer-links {
	position: relative;
	color: #9c9c9c;
	padding: 0px 72px;
	margin-top: 36px;
	background: #e0e0e0;
}

@media (max-width: 992px) {
	.footer-links {
		padding: 0px 24px;
	}
}

.footer-links.map-footer {
	margin-top: 0px;
}

.footer-links ul {
	padding-left: 0px;
	list-style: none;
}

.footer-links li {
	font-family: 'Fjalla One', sans-serif;
	color: #1c8ce3;
}

.footer-links a {
	color: #1c8ce3;
}

.footer-links .footer-logo {
	margin-top: 36px;
}

.final-footer-text {
	margin-top: 36px;
	text-align: center;
}

.final-footer-text a {
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #9c9c9c;
}